#navBar{
    background-color: beige;
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}
#navBar::after{
    position: absolute;
    left: 0;
    top: 0;
    height: auto;
    width: 140;
    background-color: black;
    opacity: .7;
    z-index: -1;
}
#navBar .navBar{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 70px;
    justify-content: flex-start;
}
#navBar a{
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color: black
}
#navBar .cta{
    display: inline-block;
    padding: 5px;
    background-color: transparent;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 30px;
    transition: .3s ease;
    transition-property: background-color, color;
}
#navBar .cta:hover{
    color: white;
    background-color: indianred;
}


